* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: rgb(15, 15, 15);

    .head {
        
        width: 100%;
        .head-col-1{
            display: flex;
            padding: 0;
        }
        .head-col-2{
            padding: 0;
            display: flex;
        }
        a {
            width: 100%;
            height: 160px;
            position: relative;

            .new-1 {
                position: absolute;
                width: 80%;
                height: 100px;
                opacity: 0;
               
                
               
                transform: rotate(90deg);
                
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    transform-origin: top;
                    transform: scale(0);
                    background-color: white;
                    transition: all 0.4s;
                    margin-top:-22% ;
                    margin-left: 22%;
                }

                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    transform-origin: bottom;
                    transform: scale(0);
                    background-color: white;
                    transition: all 0.4s;
                    margin-top:99%;
                    margin-left: 22%;
                }
            }

            &:hover .new-1 {
                opacity: 1;

                &::before {
                    transform: scale(1);
                }

                &::after {
                    transform: scale(1);
                }
            }



            .new {
                position: absolute;
                width: 80%;
                height: 100px;
                opacity: 0;
                top: 7%;
                right: 7%;
                left: 7%;
                bottom: 7%;


            }

            .new::before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                transform-origin: top;
                transform: scale(0);
                background-color: white;
                transition: all 0.4s;
                margin-bottom:100%;
            }

            .new::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                transform-origin: bottom;
                transform: scale(0);
                background-color: white;
                transition: all 0.4s;
            }

            &:hover {
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);

                img {
                    position: relative;
                    z-index: -2;
                }
            }

            &:hover .new {
                opacity: 1;

                &::before {
                    transform: scale(1);
                }

                &::after {
                    transform: scale(1);
                }
            }

            img {
                width: 100%;
                height: 160px;

            }
        }

    }
}

header {
    position: sticky;
    top: 0;
    z-index: 100000;
    opacity: 0.9;
    .header {
        width: 100%;
        height: 50px;
        background: rgb(12, 11, 11);
        border-bottom: 1px solid #ECECEC;
        border-top: 1px solid transparent;

        .head-row {
            
            .first {
                padding: 9px;

                .hi {
                    display: flex;

                    .main {
                        list-style: none;

                        &:hover .sec-menu-1 {
                            display: flex;
                            margin-left: -40px;
                            z-index: 1000000;
                        }

                        .sec-menu-1 {
                            padding: 15px;
                            display: none;

                            position: absolute;

                            .sub-1-1,
                            .sub-1-2 {
                                display: block;
                                background-color: rgb(12, 11, 11);
                                width: 230px;
                                text-align: center;
                                border-right: 1px solid rgb(110, 109, 109);
                                
                                .sec {
                                    z-index: 100;
                                    list-style: none;
                                    margin: 15px;
                                    border-top: 1px solid rgb(71, 70, 70);
                                }
                            }

                        }

                        
                       

                        .sec-menu-2 {
                            padding: 15px;
                            display: none;
                            position: absolute;
                          

                            .sub-2-1,
                            .sub-2-2,
                            .sub-2-3,
                            .sub-2-4 {
                                
                                display: block;
                                background-color: rgb(12, 11, 11);
                                width: 230px;
                                text-align: center;
                                border-right: 1px solid rgb(110, 109, 109);

                                .sec {
                                    list-style: none;
                                    margin: 15px;
                                    border-top: 1px solid rgb(71, 70, 70);
                                }
                            }

                        }

                     

                        .sec-mem {
                            display: none;
                            position: absolute;
                            padding: 15px;


                        // //      .sub-mem-1:hover {
                        // //     border-top: 1px solid grey;
                        // //     border-bottom:1px solid grey;
                        // //     border-left: 1px solid grey;
                        // //     .img-11{
                        // //         display: flex;
                        // //     }
                        // //     .img-22{
                        // //         display: none;
                        // //     }
                        // // }
                        // .sub-mem-2 {
                        //     // border-top: 1px solid grey;
                        //     // border-bottom:1px solid grey;
                        //     // border-left: 1px solid grey;
                        //     &:hover{

                        //     // .img-11{
                        //     //     display: none;

                        //     // }
                        //     .img-22{
                        //         display: block;
                        //     }
                        // }
                        //}

                            
                            .mem-1 {
                                text-align: right;
                                margin-left: -150px;
                                padding: 15px;
                                padding-right: 18px;
                                display: block;
                                background: rgb(12, 11, 11);
                                border-right: 1px solid grey;
                                
                                li {
                                    width: 100%;
                                    list-style: none;
                                }
                                li:hover{
                                    border: 1px solid grey;
                                    border-right: none;
                                    border-left: none;
                                
                            }
 
                            }

                            .mem-2 {
                                padding: 15px;
                                display: flex;
                                background: rgb(12, 11, 11);

                                .img-mem-1 {
                                    display: flex;

                                    .img-11 {
                                        text-align: center;

                                        img {
                                            margin-bottom: 5px;
                                            width: 150px;
                                            height: 130px;
                                            margin-right: 20px;
                                        }

                                        a {
                                            font-size: 12px;
                                            cursor: pointer;
                                        }

                                        p {
                                            margin-left: -20px;
                                            font-size: 12px;
                                            color: rgb(97, 97, 97);
                                        }
                                    }
                                }
    
                                .img-mem-2 {
                                    display: flex;
                                    position: absolute;
                                    

                                    .img-22 {
                                        text-align: center;
                                        display: none;
                                        
                                        img {
                                            margin-bottom: 5px;
                                            width: 150px;
                                            height: 130px;
                                            margin-right: 20px;
                                            
                                            
                                        }

                                        a {
                                            font-size: 12px;
                                            cursor: pointer;
                                        }

                                        p {
                                            margin-left: -20px;
                                            font-size: 12px;
                                            color: rgb(97, 97, 97);
                                        }
                                    }
                                }
                   
                            }
                            
                        }
    
                       
                        a {
                            color: #ffffff;
                            font-weight: 500;
                            font-size: 12px;
                            letter-spacing: 1px;
                            text-decoration: none;
                            font-size: 14px;
                            margin-right: 30px;

                            &:focus {
                                color: #b8913f;
                            }

                            &:hover {
                                color: #b8913f;
                            }

                            sup {
                                color: #FF2E2E !important;
                                font-size: 8px;

                            }
                        }

                    }
                    .Sliders:hover .sec-menu-2 {
                        display: flex;
                        margin-left: -40px;
                        z-index: 1000000;
                    }
                    .Memories:hover .sec-mem{
                        display: flex;
                        z-index: 1000000;
                        
                    }
                }
            }

            .second {
                display: flex;
                padding: 7px;

                a {
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }

        }
    }
}


@import url("/section.css");
@import url("/footer.css");
@import url("/media-iphone-7.css");
